@CHARSET "ISO-8859-1";
			header, section, footer, aside, nav, article {
				display: block;}
			html { 
 					 background: url(Images/1.jpg) no-repeat center center fixed; 
 					 -webkit-background-size: cover;
 					 -moz-background-size: cover;
 					 -o-background-size: cover;
 					 background-size: cover;}
			body {
				color: #666666;
				font-family: Georgia, Times, serif;
				line-height: 1.4em;
				margin: 0px;}
			.wrapper {
				width: 940px;
				margin: 20px auto 20px auto;
				border: 2px solid #000000;
				background-color: #ffffff;}
			h1 {
				width: 940px;
				margin: 0px;
				font-size:40px;
				color:#18356E;
				padding-top: 90px;
				paddind-right:50px;
    			padding-bottom:20px;
				font-weight: normal;}
			nav, footer {
				clear: both;
				color: #ffffff;
				background-color: #71B1CA;
				height: 30px;}
			nav ul {
				margin: 0px;
				padding: 5px 0px 30px 40px;}
			nav li {
				display: inline;
				margin-right: 40px;}
				
			nav li a {
				padding:5px;
				background-color: #71B1CA;
				text-decoration: none;
				color: #000;}
			nav li a:hover {
				padding:5px;
				background-color: #2085AD;
				color: #ffffff;}
			header {
				height: 160px;
				 background: #FFFFFF url(Images/4.jpg) center center no-repeat;  
        		width:940px;
        		background-size: cover; }
			footer {
				font-size: 80%;
				padding: 7px 0px 0px 20px;}